body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 21px;
  margin: 0;
  border: 3px solid rgb(172, 117, 76);
}

.container {
  margin: 0 auto;
  width: 570px;
}
h1,
h2 {
  font-weight: 300;
  margin-top: 0;
}
span,
time,
a {
  color: rgb(172, 117, 76);
  font-weight: 900;
}
h1 span,
h2 span {
  font-weight: 900;
  display: block;
}
h1 span {
  font-size: 70px;
}
h2 span,
h1 {
  font-size: 60px;
}
h2 {
  font-size: 42px;
  border-top: 2px solid rgb(172, 117, 76);
  border-bottom: 2px solid rgb(172, 117, 76);
  padding: 20px 0;
}
h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0;
}
.small-text {
  font-size: 16px;
  margin-top: 0;
}
a:hover,
a:focus {
  color: #b18c27;
}
img {
  width: 400px;
  border-radius: 50%;
  border: 3px solid rgb(172, 117, 76);
}
.section {
  padding: 100px 0;
}
.one,
.three {
  background-color: #252525;
  color: #fff;
}
.btn {
  background-color: rgb(172, 117, 76);
  color: #252525;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 900;
}
.btn:hover,
.tbn:focus {
  color: #252525;
  background-color: #b18c27;
}
